#text-main {
  font-size: 20rem;
  font-family: "Volkhov", serif;
  font-family: "Vujahday Script", cursive;
}

#exploreDR {
  font-size: 20rem;
  font-weight: 400px;
  font-family: "Volkhov", serif;
  font-family: "Vujahday Script", cursive;
}

.make-brand {
  margin-left: 100px;
}
