.searchBar {
  display: flex;
  justify-content: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(162, 162, 200, 1) 0%,
    #bed4d8 100%
  );
}

.searchForm {
  background: rgb(133, 114, 122);
  background: radial-gradient(
    circle,
    rgb(184, 171, 176) 0%,
    rgba(43, 70, 102, 1) 100%
  );
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px 20px 15px 20px;
  border-radius: 20px;
}

.input-dates {
  border-color: transparent;
}

.search-image {
  cursor: pointer;
  background-color: #c2fff9;
  border-radius: 50px;
  padding: 10px 10px 10px 10px;
  height: 50px;
  width: 50px;
  margin-left: 15px;
}
